//Colors
$colorText: #3C3C3C;
$colorBody: #EFEFEF;
$colorHighlight: #FBD649;
$colorBorder: #6A6A6A;
$colorLigthBorder: rgba(106,106,106,0.7);

// essential
@import 'modules/normalize';
@import 'modules/layout';


// Patrials
@import 'partials/header';
@import 'partials/statistics';
@import 'partials/steps';


