//header
// html {
//     background-color: white;
// }

.header-menu {
    width: 100%;
    height: 48.6rem;
    background: url('../images/header_start_img.jpg') no-repeat;
    // background-size: contain;
    background-size: 80%; 
}

.header-menu .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} 

//login and create account

.account {
margin-top: 2rem;
margin-right: 7rem;
font-size: 0.7rem;
}

.account .login,
.account .register {
    padding: 0.5rem;
    // margin-right: 0.4rem;
}

.account .register {
    padding: 0.5rem;
    border: 1px solid $colorHighlight;
}

.header-menu a{
    color: $colorText;
}

//navigation
.header-nav {
    margin-top: 1.5rem;
    margin-right: 5.5rem;
    font-size: 1rem;
}

.header-nav-list {
    display:flex;
    margin: 15px;
}

.header-nav-list li {
    display:flex;
    padding: 0 15px;
}

.header-nav-list li a {
    text-decoration: none;
    justify-content:flex-end;
    color: $colorText;
}

.header-nav-list .active {
    border: 1px solid $colorBorder;
    // padding-bottom: 1rem;
    padding: 0.6rem 1.3rem;
    margin-top:-0.6rem;
}

//mainBox 

.header-menu  .main_box {
    width: 43rem;
    text-align: center;
}
.main_box_info {
    margin-top:12rem;
    padding-left: 3rem;
    font-size: 8rem;
    line-height: 3rem;;

}

.main_box p {
    font-size: 2rem;
    font-weight: 200;
}

//buttons
.header_buttons{
    margin-top: 2.85rem;
    display: flex;
    justify-content: space-around;
}

.header_buttons button{
    width: 14rem;
    height: 6rem;
    padding: 0 2rem 0.5rem 2rem;
}