.header-nav-list {
    font-size: 20px;
}

.header-menu{
    // width:50%;
    padding: 15px 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.header-nav-list {
    list-style:none;
    display:flex;
    margin: 15px;
}

.header-nav-list li {

    justify-content:flex-end;
    padding: 15px;
    display: inline-block;
    // justify-content: left;
}