.four_steps {
width: 100%;
height: 35rem;
border: 1px solid red;
}

.four_steps .container {
    height: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;   
}

.container .steps_title {
    margin-top: 5rem;
    margin-bottom: 1rem;
    align-items:center;  
    font-size: 4em;
}


.container .steps_list {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    border: 1px solid blue;
    background-color: #EAEAEA;
    // width: 70rem;
    // height: 15rem;
}

.steps_list_item {
    padding: 2rem;
    font-size: 1rem;
    width: 15rem;
    margin: 0 rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #EAEAEA;
}
.steps_title_list {
    font-size: 1.2rem;
    padding: 0.8rem;
    width: 12rem;
    display:flex;
    align-items: flex-end;


}

.steps_title_descript {
    font-size: 1rem;
    padding:0.5rem;
}
.steps_list_item .steps_line {
    width: 5rem;
    border-top:1px solid $colorText;
    // padding: 1rem;
}